
<section class="content">
    <div class="box box-default">
        <div class="box-header">
            <i class="fa fa-database"></i>
            <h3 class="box-title">关于</h3>
            <div class="bar pull-right"><a href="javascript:history.go(-1);">返回</a></div>
        </div>
        <div class="box-body">
            <div class="container">

        <div class="">
        <div class="form-well">
            <h4> 懒投资LANOTP 软件介绍</h4>
            <hr>
            <p>目前版本：0.2.0 </p>
            <p>懒投资LANOTP是一个开源的Radius OTP 二次认证服务软件。</p>
            <p>编写参考：ToughRADIUS、SoftRadius、GO-OTP</p>
            <br>
            <h4>联系支持</h4>
            <hr>       
            <p>王松：<a  target="_blank">wangsong@zuinianqing.com</a></p>
            <p>
            <br>
         </div>
        </div>
    </div>
</div>
</div>
    </section>
