<script>
function do_delete(id)
{
    if(confirm("删除账号确认操作吗？")) {
        window.location.href = "/admin/token/delete?token_id="+id;
    }
    
}
</script>
<section class="content">
        <div class="box box-default">
            <div class="box-header">
                <i class="fa fa-users"></i>
                <h3 class="box-title">令牌列表</h3>
            </div>
            <div class="box-body">
                <div class="container">
            <form id="query_form" class="form-horizontal form-well" role="form" action="/admin/token/" method="post">
                <div class="form-group">  
                    <label for="mobile" class="col-md-1 control-label">令牌</label>
                    <div class="col-md-3">
                        <input type="text" id="tokensn" name="tokensn" class="form-control" value="">
                    </div>                   
                    <label for="realname" class="col-md-1 control-label">姓名</label>
                    <div class="col-md-3">
                        <input type="text" id="realname" name="realname" class="form-control" placeholder="模糊查询" value="">
                    </div>
                    <label for="user_name" class="col-md-1 control-label">账号</label>
    
                    <div class="col-md-3">
                        <input type="text" id="username" name="username" class="form-control" placeholder="模糊查询" value=>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-5 col-md-7">
                            <input type="submit" class="btn btn-md bg-navy" value="查询"></ipput>
                    </div>
                </div>
            </form>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>令牌</th>
                    <th>令牌类型</th>
                    <th>绑定账号</th>
                    <th>创建时间</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    {{range .tokens}}
                <tr>
                    <td><a href="/admin/token/detail?token_id={{.Id}}">{{.OtpSn}}</a></td>
                    {{if eq .OtpType 1}}
                    <td>TOTP</td>
                    {{else if eq .OtpType 2}}
                    <td>HOTP</td>
                    {{end}}
                    <td>
                        <a href="/admin/token/detail?token_id={{.Id}}">{{.BindingUser}}</a>
                    </td>
                    <td>{{.OperatTime.Format "2006-01-02 15:04:05"}}</td>
                    <td>
                        <a class="opt-btn btn-default" href="javascript:do_delete('{{.Id}}')">删除</a>
                    </td>
                </tr>
               {{end}}
                </tbody>
            </table>
            <ul class="pagination pull-right">
                 <!-- <li class="disabled"><a href="#">查询记录数 {{.Count}}</a></li>
                <li class="disabled"><a href="#">1/{{.PageCount}}页</a></li> -->
                <li class="disabled"><a href="#">查询记录数 {{.totalItem}}</a></li>
                {{.pagerhtml}}
                

            </ul>
        </div>
    </div>
    </div>
    
    </section>
    