
<section class="content">
        <div class="box box-default">
            <div class="box-header">
                <i class="fa fa-user-plus"></i>
                <h3 class="box-title">用户开户</h3>
                <div class="bar pull-right"><a href="javascript:history.go(-1);">返回</a></div>
            </div>
            <div class="box-body">
                <div class="container">
                <form class="form-horizontal form-well" role="form">
                    <div class="form-group">
            <label class="col-sm-4 control-label" id="lab_node_id" for="node_id">认证类型</label>
            <div class="col-sm-6">
            <select required="required" placeholder="认证类型" class="form-control" name="node_id" id="node_id">
             <option value="1">MAC地址认证</option>
             <option value="2">OTP二次认证</option>
            </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" id="realname1" for="realname">姓名</label>
            <div class="col-sm-6">
            <input name="realname"  required="required" id="realname" type="text" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" id="name1" for="zname">账号</label>
            <div class="col-sm-6">
            <input name="username"  required="required" id="username" type="text" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" id="password1" for="password">密码</label>
            <div class="col-sm-6">
            <input name="password"  required="required" id="password" type="text" class="form-control"/>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-4 control-label" id="lab_submit" for="submit"></label>
            <div class="col-sm-6">
            <button name="submit" placeholder="submit" id="submit" type="submit" class="btn btn-md bg-navy" onclick="javascript:check_samename();"><b>提交</b></button>
            </div>
        </div>
    
            </form>
        </div>
    </div>
    </div>
        </section>